.inputs{
  display:flex;
  justify-content: center;
  align-items: center;
}

.multiselect {
  width: 200px;
}

#geo-container {
  width: 1200px;
  margin-top: 40px;
  display: flex;
}

#zip-list{
  width: 45%;
}

#map {
  margin-right: 30px;
  height: 300px;
  width: 45%;
}

.zip-container {
  fill:none;
  height: 30px;
  width: 100%;
}

#zip-insight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
}
